
body {
	line-height: 1.4em !important
}

#epb3sldrzr-body {
  background: #add9e4;
  background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, #add9e4));
  background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background-color: #f7fbfc; 

  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #333333; 
}

#epb3sldrzr-title {
  width: 82%;
}

#epb3sldrzr-toc {
  font-size: 0.6em;
  font-weight: 200 !important;
}

ul ul li, ol ul li {
	font-size: 80% !important
}

ul li, ol li    { 
	padding-bottom: 0.3em !important
}

ul ul li {
	padding-bottom: 0em !important
}

#epb3sldrzr-content-wrap a {
  text-decoration: none;
  border-bottom-style: none; 
}



#epb3sldrzr-content-wrap ol ol, #epb3sldrzr-content-wrap ol ul, #epb3sldrzr-content-wrap ul ol, #epb3sldrzr-content-wrap ul ul {
    margin: 0 0 0 0.5em;
}

#epb3sldrzr-content-wrap h2, #epb3sldrzr-content-wrap h3, #epb3sldrzr-content-wrap h4 { 
	padding-bottom: 2.2px;
	color: #004480;
	-webkit-hyphens: none; 
	   -moz-hyphens: none; 
	    -ms-hyphens: none;
	        hyphens: none; 
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
  line-height: 0.9em;
  padding-right: 1.6em;
  padding-left: 1.6em;
}

#epb3sldrzr-content-wrap h2 { 
	font-size: 1.3em;
 }

#epb3sldrzr-content-wrap h3 { 
	font-size: 1.1em 
}
#epb3sldrzr-content-wrap h4 { 
	font-size: 1em 
}

#epb3sldrzr-content-wrap .shout h2 {
    margin-top: 2em;
    border-bottom: none;
    font-size: 3.5em;
    padding-left: 0em;
    padding-right: 0em;
}

#epb3sldrzr-content-wrap a {
	background: transparent;
}

#epb3sldrzr-content-wrap a:hover {
	background: #fafaa2;
}

#epb3sldrzr-content-wrap kbd,#epb3sldrzr-content-wrap code,#epb3sldrzr-content-wrap samp {
	background: transparent;
	color: inherit;
}

dt { font-weight: bold;}
dd { padding-left: 1.5em;}

dl.plain dt { 
	font-weight: inherit !important;
}

#epb3sldrzr-content-wrap table {
	border: none !important;
	border-collapse: separate;
    border-spacing: 0.1em;
    font-weight: 200;
}

#epb3sldrzr-content-wrap table.striped tr:nth-child(even) {
    background: snow;
}

#epb3sldrzr-content-wrap pre {
	font-family: monospace;
	font-size: 80%;
	line-height: 1.1em;    
    white-space: pre !important;
    color: green;
}

#epb3sldrzr-content-wrap code {
	font-family: monospace;
    font-size: 80%; 
    color: green;
}


#epb3sldrzr-content-wrap blockquote:before, q:before {
    content: "“"
}

#epb3sldrzr-content-wrap blockquote:after, q:after {
    content: '”';
}

#epb3sldrzr-content-wrap blockquote {
	margin-left: 2em;
	margin-right: 2em;
	border-left: 0.4em solid lightblue; 
}

#epb3sldrzr-content-wrap table.comparison th {
    text-align: center;
}
#epb3sldrzr-content-wrap table.comparison td {
    padding: 0.3em;
}
#epb3sldrzr-content-wrap table.comparison {
    padding-left: 0em !important;
    margin: 0em !important;
    margin-bottom: 0.5em !important;
    font-size: 90%;
    table-layout: fixed;
}

figure.right {
    float:       right; 
    margin-left: 1em; 
    width:       40%;
}

img {
    border: 1px solid #CCC; 
    border-radius: 10px; 
    box-shadow: 7px 7px 5px #888; 
    width:       100%;
}

img.plain {
    border: 0px solid #CCC; 
    border-radius: 0px; 
    box-shadow: 0px 0px 0px #888; 
}

figcaption, .videocaption {
    font-size:25%; 
    position:relative;
    top: 5px; 
    left: 15px;
}
 .videocaption{
    left: 200px;
}





